#fsdf
__pycache__/
_pycache__/*
build/
build/*
avatars/
avatars/*
Wizard_bot_local_runner.exe
node_modules/
node_modules/*
tracks/
README.md
std.log
discord.log
.is_autovEnv
.discord_bot_ai_venv/*
.discord_bot_ai_venv/
*.webm
